<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="lessons.js"></script>
    <title>Lesson Store</title>
    <style>
      body {
        /* Using Montserrat font */
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="min-h-screen bg-[url('assets/class.png')] bg-cover bg-center" id="lessonStore">
      <header class="bg-teal-400 shadow-md p-4">
        <!-- Navigation Bar -->
        <nav class="flex justify-between items-center">
          <!-- Logo/Title -->
          <h1 class="text-3xl font-bold text-black">{{ message }}</h1>
          <div class="flex items-center space-x-4">
            <ul class="flex text-lg font-semibold text-gray-700">
                <!-- Link to cart page -->
              <li>
                <button v-if="showCartPage || itemsInCart > 0" @click="toggleCartPage" class="hover:text-blue-500"> {{ itemsInCart }} <span class="fa-solid fa-cart-plus"></span> Cart</button>
                <button v-else disabled @click="toggleCartPage" class="hover:text-blue-500"> {{ itemsInCart }} <span class="fa-solid fa-cart-plus"></span> Cart</button>
                <!-- <a  href="#" v-if="itemsInCart > 0" @click="toggleCartPage" class="hover:text-blue-500"> Cart </a>
                <a  href="#" v-else disabled @click="toggleCartPage" class="hover:text-blue-500"> Cart </a> -->
              </li>
            </ul>

          </div>
        </nav>
      </header>
      <main>
        <!-- Search bar -->
            <input type="text" v-model="searchQuery" placeholder="Search lessons" class=" mt-10 ml-56  w-1/4 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />

        <!-- Product Section -->
        <div class="ml-96 w-2/3 rounded-lg mt-32 grid grid-cols-3 gap-1 auto-rows-max" v-if="showProducts">
          <!-- Sorting choices -->
          <label>Sort by:</label>
          <div>
            <input type="radio" id="subject" value="title" v-model="sortCriteria">
            <label for="subject">Subject</label>
            <input type="radio" id="location" value="location" v-model="sortCriteria">
            <label for="location">Location</label>
            <input type="radio" id="price" value="price" v-model="sortCriteria">
            <label for="price">Price</label>
            <input type="radio" id="availability" value="availableInventory" v-model="sortCriteria">
            <label for="availability">Availability</label>
          </div>
          <!-- Sorting order buttons (Ascending / Descending) -->
          <div>
            <button @click="sortOrder = 'asc'">Ascending</button>
            <button @click="sortOrder = 'desc'">Descending</button>
          </div>
          <!-- Displaying the lessons using v-for -->
          <div class="bg-white w-10/12 m-2 p-1 rounded-lg" v-for="lesson in filteredLessons" :key="lesson.id">
            <div>
              <figure class="flex justify-center items-center">
                <img :src="lesson.image" alt="Lesson Image" width="200" height="200">
              </figure>
              <!-- Details -->
              <h2 class="font-bold text-2xl">{{ lesson.title }}</h2>
              <p>Description: {{ lesson.description }}</p>
              <p>Location: {{ lesson.location }}</p>
              <p>Price: £{{ lesson.price }}</p>
              <div>
                <span class="text-xl" v-for="n in lesson.rating">★</span>
                <span v-for="n in 5 - lesson.rating">☆</span>
              </div>
              <!-- Add to cart button -->
            <button class="w-40 px-6 py-2 bg-green-500 hover:bg-green-600 text-white font-bold rounded-lg shadow-md transition-all duration-200" v-if="canAddToCart(lesson)" v-on:click="addToCart(lesson)"> Add to Cart </button>
            <button class="w-40 px-6 py-2 bg-green-200 hover:bg-green-400 text-white font-bold rounded-lg shadow-md transition-all duration-200" v-else disabled>Add to Cart</button>
              <span v-if="lessonsLeft(lesson) === 0">All sold out!</span>
              <span v-else-if="lessonsLeft(lesson) < 5">Only {{ lessonsLeft(lesson) }} left! </span>
            </div>
          </div>
        </div>
        <!-- Cart Page -->
        <div v-if="showCartPage" class="flex flex-col justify-center items-center h-screen p-4">
          

            <h2 class="text-2xl font-bold mb-4">Your Cart</h2>
          <!-- Display cart items if there are items in the cart -->
          <div v-if="cartItems.length > 0" class="w-full max-w-md">
            <div v-for="lesson in cartItems" :key="lesson.id" class="p-4 bg-white shadow-md rounded-lg mb-4">
              <h3 class="text-xl font-bold">{{ lesson.title }}</h3>
              <p>{{ lesson.description }}</p>
              <p>{{ lesson.location }}</p>
              <p>Price: £{{ lesson.price }}</p>
              <button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white font-bold rounded-lg shadow-md transition-all duration-200" @click="removeFromCart(lesson.id)"> Remove </button>
            </div>
          </div>
          <!-- If there are no items it displays this messsage -->
          <div v-else>
            <p>Your cart is empty!</p>
          </div>
                                <!-- Checkout Button -->
                                <button class="w-1/5 px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md transition-all duration-200" v-if="itemsInCart > 0" @click="toggleCheckout">
                                    {{ itemsInCart }}
                                    <span class="fa-solid fa-cart-plus"></span> Check Out </button>
                                  <button class="w-1/5 px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md transition-all duration-200" v-else disabled @click="toggleCheckout">
                                    {{ itemsInCart }}
                                    <span class="fa-solid fa-cart-plus"></span> Check Out </button>
        </div>
        <!-- Checkout Page -->
        <div v-if="!showProducts && !showCartPage" class="flex flex-col justify-center items-center h-screen bg-gray-100 p-4">
          <h1 class="text-2xl font-bold mb-6">Checkout Page</h1>
          <!-- Details Form -->
          <form class="w-full max-w-md space-y-4">
            <div>
              <label class="block font-semibold mb-1" for="name">Full Name:</label>
              <input id="name" v-model.trim="order.name" @input="validateName" class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
              <p v-if="nameError" class="text-red-500 text-sm">{{ nameError }}</p>
            </div>
            <div>
              <label class="block font-semibold mb-1" for="phone">Phone Number:</label>
              <input id="phone" v-model.trim="order.phone" @input="validatePhone" type="text" class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
              <p v-if="phoneError" class="text-red-500 text-sm">{{ phoneError }}</p>
            </div>
            <div>
              <h2 class="text-xl font-bold mb-2">Order Summary</h2>
              <div v-for="lesson in cartItems" :key="lesson.id" class="p-4 bg-white shadow-md rounded-lg mb-4">
                <h3 class="text-xl font-bold">{{ lesson.title }}</h3>
              </div>
              <p>Lessons in Cart: {{ cart.length }} </p>
              <p>Total Price: £{{ totalPrice }}</p>
            </div>
            <!-- Submit order button -->
            <button @click="placeOrder()" type="button" :disabled="!isFormValid" class="w-full px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md transition-all duration-200"> Checkout </button>
          </form>
        </div>
      </main>
    </div>
    <script>
    // Creating vue instance
      let webstore = new Vue({
        el: '#lessonStore',
        data: {
            // Default application data
          message: 'Welcome to the Lesson Store!',
          showProducts: true,
          showCartPage: false,
          lessons: [],
          cart: [],
          order: {
            name: '',
            phone: '',
          },
          sortCriteria: 'subject',
          sortOrder: 'asc',
          searchQuery: '',
          searchResults: []
        },
        // Lifecycle hook to fetch lessons from backend
        created: function() {
          fetch("https://lessonsbackend-1.onrender.com/collections/lessons").then(function(response) {
            response.json().then(function(json) {
              webstore.lessons = json;
            })
          });
        },
        methods: {
          validateName() {
            // Allow only letters
            const nameRegex = /^[a-zA-Z\s]*$/;
            if (!nameRegex.test(this.order.name)) {
              this.nameError = 'Name can only contain letters';
            } else {
              this.nameError = '';
            }
          },
          validatePhone() {
            // Allow only numbers
            const phoneRegex = /^[0-9]*$/;
            if (!phoneRegex.test(this.order.phone)) {
              this.phoneError = 'Phone number can only contain numbers';
            } else {
              this.phoneError = '';
            }
          },
        // Toggle between products and checkout pages
          toggleCheckout() {
            this.showProducts = false;
            this.showCartPage = false;
          },
        //   Toggle cart visibility
          toggleCartPage() {
            this.showCartPage = !this.showCartPage;
            this.showProducts = !this.showProducts;
          },
        //   Add lesson to cart via id
          addToCart(lesson) {
            this.cart.push(lesson.id);
          },
        //   Remove lesson from cart via id
          removeFromCart(id) {
            const index = this.cart.indexOf(id);
            if (index !== -1) this.cart.splice(index, 1);
          },
        //   Check if lesson is eligable to be added to cart if it is still in stock
          canAddToCart(lesson) {
            return lesson.availableInventory > this.cartCount(lesson.id);
          },
        //   Count the lessons in the cart by the id
          cartCount(id) {
            return this.cart.filter(item => item === id).length;
          },
        //   Count the remaining lessons in stock
          lessonsLeft(lesson) {
            return lesson.availableInventory - this.cartCount(lesson.id);
          },
        //   Submit order details and send to the server
          placeOrder() {
            const orderDetails = {
              name: this.order.name,
              phone: this.order.phone,
              cart: this.cart,
              itemCount: this.itemsInCart
            };
            // Post request to the server to send the details
            fetch("http://localhost:4000/collections/orders", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(orderDetails)
            }).then(response => response.json()).then(data => {
              if (data.error) {
                alert(`Error: ${data.error}`);
              } else {
                // If order successful, display an alert and reset the cart and order details
                alert("Order placed successfully!");
                this.cart = [];
                this.order = {
                  name: '',
                  phone: ''
                };
                // Return to products page
                this.showProducts = true;
                this.showCartPage = false;
              }
            }).catch(error => {
              console.error("Error:", error);
              alert("Failed to place order");
            });
          }
        },
        computed: {
            // Calculate number of items in the cart
          itemsInCart() {
            return this.cart.length || '';
          },
        //   Display list of items in the cart
          cartItems() {
            return this.cart.map(id => this.lessons.find(lesson => lesson.id === id));
          },
        //   Check if form details are valid
          isFormValid() {
            return this.order.name.trim() !== "" && this.order.phone.trim() !== "" && this.nameError === '' && this.phoneError === '';
          },
        //   Filter the lessons based on the search 
          filteredLessons() {
            return this.sortedLessons.filter(lesson => {
              const searchQuery = this.searchQuery.toLowerCase();
              return (lesson.title.toLowerCase().includes(searchQuery) || lesson.description.toLowerCase().includes(searchQuery) || lesson.location.toLowerCase().includes(searchQuery) || lesson.price.toString().includes(searchQuery) || lesson.availableInventory.toString().includes(searchQuery));
            });
          },
        //   Sort lessons function
          sortedLessons() {
            return [...this.lessons].sort((a, b) => {
              let comparison = 0;
              const field = this.sortCriteria;
              if (typeof a[field] === 'string') {
                comparison = a[field].localeCompare(b[field]);
              } else {
                comparison = a[field] - b[field];
              }
              // Reverse comparison for descending order
              return this.sortOrder === 'desc' ? -comparison : comparison;
            });
          },
        //   Calculate the total price
          totalPrice() {
            return this.cart.reduce((sum, id) => {
              const lesson = this.lessons.find(l => l.id === id);
              return sum + lesson.price;
            }, 0);
          }
        },
        mounted() {
          this.fetchLessons(); // Fetch all lessons on load
        }
      });
    </script>
  </body>
</html>